.cat-NorthAmerica rect {
  fill: #edd1d1;
}

.cat-Europe rect {
  fill: #d1e0ed;
}

.cat-Japan rect {
  fill: #d1edd5;
}

.bar {}

.bar:hover {
  cursor: pointer;
  stroke: black;
}

.bar-selected {
  stroke: black;
}

.bar-selected:hover {
  cursor: pointer;
}